* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body {
    background-color: rgb(29, 28, 28);
    color: rgb(248, 243, 243);
}

.title {
    text-align: center;
    background-color: rgb(29, 28, 28);
}

.article {
    background-color: rgb(29, 28, 28);
    text-align: center;
    text-transform: uppercase;
    text-decoration-line: underline;
    color: rgb(255, 253, 253);
};

body {
    font-family: Arial, sans-serif;
    margin: 20px;
   
}

.carrito {
    margin: 20px auto;
    padding: 20px;
    background-color: #0a69c2;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 20px 20px 40px rgba(255, 255, 255, 0.1);
}

.carrito h2 {
    margin-bottom: 20px;
    text-align: center;
}

.carrito ul {
    list-style-type: none;
    padding: 0;
}

.carrito li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#total {
    font-weight: bold;
}



.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: white;
    z-index: 2;
  }

  .atenuacion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    z-index: 1;
  }

  .ocultar {
    display: none;
  }

  .mostrar {
    display: block;
  }